/* Resetando a margem e padding de toda a página */
    * {
        margin:0;
        padding: 0;
    }
/**/

/* Criando a estrutura da grid principal */

    /*Chamando o body como grid container e estruturando seus elementos*/
    body {
        display: grid;
        
        /*Estabelecendo o espaçamento entre os elementos da grid*/
        grid-gap: 1rem; 

        /* Os elementos da grid são: header/main/footer */
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
/**/

/* Criando a estrutura da grid secundária - criada dentro da main */

    /*Chamando o main como grid container*/
    #main-grid {
        display: grid;

        /*Segregando a main em três colunas*/
        grid-template-columns: [cadastro] 1.5fr [pedido] 2.5fr [entrega] 3fr;

        /*Definindo as especificações das colunas*/
        column-gap: 0.5em;
        margin: 0.5em;
    }

    .grid-item {
        border: 1px hidden;
        border-radius: 2%;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #EDEBE9CC;
        box-sizing: border-box;
        box-shadow: 0px 12px 12px 6px rgb(49, 49, 49);
    }
/**/

/* Estilizando as imagens iniciais dos formulários */

    /*Tamanho, opacidade e centralização*/
    .cadastro img, .pedido img, .entrega img {
        width: 70px;
        height: 70px;
        opacity: 45%;
        display: block;
        margin: -5px auto 5px auto;
    }

    .pedido img {
        opacity: 60%;
    }
/**/

/* Fontes: tamanho e espaçamento entre linhas */
.cadastro, .pedido, .entrega {
    font-size: 13px;
    line-height: 1.5em;
}

/* Estilizando o grid-item "cadastro" */

    /*Itens do formulário: tamanho e localização no grid*/
    .cadastro input {
        width: 80%;
    }
    .cadastro label {
        display: block;
    }
    #dadosCadastrais {
        margin-bottom: 10px;
    }    
    #dadosCadastrais input {
        padding-left: 20px;
    }

    /*Incluindo imagens de estilização antes do input*/
    input.email {
        background-image: url(../imagens/icone-usuario.png);
    }
    input.senha {
        background-image: url(../imagens/icone-cadeado.png);
    }
/**/

/* Estilizando o grid-item "pedido" */
  
    /*Formatação das legendas internas*/
    legend#sublegenda {
        font-weight: 600;
    }
    #tituloItem {
        font-style: italic;
        text-decoration: underline;
    }
    #tituloItem td {
        text-align: center;
    }

    /* Formatação dos elementos das tabelas (input de produtos) */
    td>input {
        width: 25%;        
        text-align: center;
    }
    td>input:hover {
        font-weight: bold;
        color: #28502E;
        font-size: 140%;
    }
    tr, td {
        table-layout: fixed;
        word-break: keep-all;
        text-align: right;
    }
    td>label {
        font-size: 15px;
    }

    /* Formatação dos elementos do checkbox */
    #gift {
        margin-top: 15px;
    }
    span#presente {
        padding-left: 7px;
    }

    /* Formatação dos elementos da textarea */
    span#mensagem {
        display: block;
        margin-top: 10px;
        font-size: 12px;
    }
    textarea {
        width: 100%;
        height: 100px;
        box-shadow: 0.2px 0.2px 1px 0.75px gray;
    }
/**/

/* Estilizando o grid-item "entrega" */

    #card_date {
        width: 30%;
    }

    #cartao {
        margin-top: 10px;
    }

    #card_banner {
        width: 25%;
        margin-bottom: 10px;
    }

    #card_number {
        padding-left: 5px;
        width: 35%;
        text-align: center;
    }

    #card_name, #address3 {
        width: 34%;
        margin-bottom: 10px;
    }

    #card_cpf {
        padding-left: 5px;
        width: 20%
    }

    #card_code {
        width: 10%;
        text-align: center;
    }

    #dadosEntrega {
        margin-top: 10px;
    }

    #address1 {
       width: 50%;
       margin-bottom: 10px;
    }

    #address2 {
        width: 15%;
    }

    #address4, #address5, #address6 {
        width: 42%;
        margin-bottom: 10px;
    }

    button {
        width: 30%;
        display: block;
        margin: 15px auto 0 auto;
        align-content: center;
        background: linear-gradient(to bottom, #F4F4F5, #BFBFC5);
        font-weight: 700;
        color: rgb(29, 28, 28);
        opacity: 80%;
        border-radius: 10px;
        height: 25px;
    }    
/**/

/* Estilizando o banner */    
    header {
        /* overflow: hidden; */
        background: linear-gradient(to bottom left, #28502E, #06089D); /* Aplicando cor de fundo apenas na hipótese de problemas no carregamento da imagem por algum navegador, a cor de fundo toma o lugar da imagem*/
        width: 100%;
        margin-bottom: 5px;
        background-image: url(../imagens/banner-entrega.jpg);
        background-position: 60% 72%;        
        height: 200px;
    }

    h1 {
        color: #fff;
        font-size: 10vh;
        font-family: 'Days One', sans-serif;        
        text-align: right;
        padding-top: 90px;
        padding-right: 400px;
        mix-blend-mode: overlay;
        box-sizing: border-box;
    }
/**/


fieldset {
    padding: 5px;
    border: 1px solid #DAD6D2;
}

legend {
    font-weight: bold;
}

label {
    cursor: pointer;
}

input {
    border: 1px solid #ACA39A;
    border-radius: 5%;
    background-repeat: no-repeat;
    height: 17px;
    background-position: 5px;
}