/* Estilos gerais da página */
    * {
        margin: 0;
        padding: 0;
    }
    #contato, #criador, #ico_footer, #outros {
        padding-left: 40px;
        margin-right: 20px;
    }
    footer nav {
        height: 160px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    nav ul h3 {
        margin-bottom: 15px;
    }
    ul#outros {
        margin-left: 100px;
        padding-top: 18px;
    }
    header {
        margin-bottom: -2px;
    }
    .ico_footer {
        margin-left: 40px;
    }
/**/

/* Criando os flex containers por sessões */

    /* Sessão: projetores de estrela */
    #section1 {
        display: flex;
        justify-content: space-around;
    }

    /* Sessão: projetores de festa */
    #section2 {
        display: flex;
        justify-content: space-around;
    }

    /* Sessão: projetores de filme */
    #section3 {
        display: flex;
        justify-content: space-around;
    }
/**/

/* Estilizando os produtos */

    /* Nome do produto: fonte, localização e peso */
    figcaption {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3px;
        font-weight: 500;
        padding-left: 3px;
    }


    /* Valor do produto: fonte (cor, tamanho, alinhamento). Utilização do display e float para alinhamento do texto com a imagem. */
    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2A9D8F;
        font-size: large;
        display: table-cell;
        float: left;
        margin-top: -2px;
        margin-right: 120px;
        margin-bottom: 10px;
        padding-left: 3px;
    }

    /* Avaliações: utilização do display e float para alinhamento da imagem de avaliação com o texto do valor. */
    .avaliacao {
        display: table-cell;
        float: left;
        padding-right: 3px;
    }

    /* Ajustando quebra de linha após o alinhamento valor/avaliação. */
    div.button {
        clear: both;
        text-align: center;
    }

    /* Botões de compra */
        button {
            border-radius: 10px; /*Borda arredondada*/
            height: 25px; /*Altura*/
            margin-top: 10px; /*Alinhamento*/
            width: 70%; /*Tamanho*/
        }
        .linkFilme, .linkFesta, .linkEstrela {
            color: #2A9D8F; /*Cor da fonte*/
        }
        .botFilme, .botFesta, .botEstrela {
            background: linear-gradient(to bottom, #F5F4F6, #EAE9EC); /*Utilização de coloração gradiente para trazer efeito 3D*/
        }
    /**/

    .button a {
        text-decoration: none; /*Tirar o sublinhado do texto*/
        font-weight: bold; /*Peso da fonte*/
        font-size: 1em; /*Tamanho da fonte*/
    }

    /* Estilização dos "quadros" em que ficam cada um dos itens */
        .figFilme {
            border: 4px solid;
            border-image: linear-gradient(to bottom, #28502E, #4aa557) 1;
        }
        .figFesta {
            border: 4px solid;
            border-image: linear-gradient(to bottom, #ff1b3d, #fc5d75) 1;
        }
        .figEstrela {
            border: 4px solid;
            border-image: linear-gradient(to bottom, #06089D, #4492eb) 1;
        }
    /**/

    /* Fotos dos produtos: arredondamento da borda e alinhamento da foto */
    /* img {
        border-radius: 10px;
    } */
    img.foto_produto, figcaption, h4, div {
        margin-bottom: 5px;
    }
    img.foto_produto {
        width: 100%;
    }

/**/

/* Categorias de produtos */

    /* Estilização do banner */
    /* Alinhamento e tamanho */
    #estelar, #festa, #filme, #final {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 13px;
    }

    /*Imagem de fundo das categorias*/
    #estelar {
        margin-top: 2px;
        height: 100px;
        width: 100%;
    }
    #estelar h2 {
        background-image: url(../imagens/banner-estelar.jpg);
        background-size: cover; /*Ocupar toda a página (a imagem é menor que o width)*/
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    #festa {
        height: 100px;
        width: 100%;
    }
    #festa h2 {
        background-image: url(../imagens/banner-festa.jpg);
        background-position: 90% 30%; /*Seleção de qual parte da imagem irá aparecer*/
        background-size: cover; /*Ocupar toda a página (a imagem é menor que o width)*/
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    #filme {
        height: 100px;
        width: 100%;
    }
    #filme h2 {
        background-image: url(../imagens/banner-filme.jpg);
        background-position: 90% 30%; /*Seleção de qual parte da imagem irá aparecer*/
        background-size: cover; /*Ocupar toda a página (a imagem é menor que o width)*/
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    /*Formatação do texto que está alinhado com a imagem*/
    h2 {
        color: #fff;
        font-size: 7vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;        
        text-align: center;
        padding: 30px;
        mix-blend-mode: overlay; /* Utilização do overlay para dar o efeito de sobreposição*/
        box-sizing: border-box; /*Para que o padding não distorça o tamanho*/
    }

    footer {
        margin-top: 15px;
        background-color: #47464b;
    }

    footer li {
        color: white;
    }

    footer li>a:visited {
        text-decoration: none;
        color: white;
    }
/**/