/* Propriedades gerais da página */

    body, html {
        margin: 0;
        font-family: 'Days One', sans-serif;
        font-size: 1em;
        color: #474747;
        height: 100%;
    }

    h2 {
        text-transform: uppercase;
        color: #2FB1A2;
        text-align: center;
    }
    
    p.textos {
        margin-bottom: 20px;
    }
/**/

/* Complemento de estilização dos links no header */
    nav#menu li {
        font-size: 0.7em;
    }
/**/

/* Estilização das sessões de texto */
    .quem-somos, .nome, .nossos-produtos, .parceiros {
        color: #474747;
        background-color: white;
        text-align: justify;
        padding: 50px 80px;
    }
/**/

/* Estilização dos subtítulos de categorias, e links para a loja */
    .subtitulo1, .link1 {
        color: #06089D;
    }
    .subtitulo2, .link2 {
        color: #F50025;
    }
    .subtitulo3, .link3 {
        color: #28502E;
    }
/**/

span {
    font-style: italic;
}

/* Estilização dos ícones dos Meus Parceiros */
    ul.ico_parceiros {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    img#ico_HL, img#ico_EP, img#ico_FF, img#ico_BE {
        width: 60%;
    }
/**/

/* Estilização dos links de acesso dentro da sessão Nossos Produtos */
    .link1, .link2, .link3 {
        text-decoration: underline overline;
    }
    .link1:hover {
        font-size: 130%;
    }
    .link2:hover {
        font-size: 130%;
    }
    .link3:hover {
        font-size: 130%;
    }
/**/

/* Efeito Parallax: imagens */
    .img1, .img2, .img3, .img4, .img5 {
        height: 100%;
        opacity: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative; /*Para que funcione a sobreposição com o texto, que está em posição absoluta*/
    }

    .img2 {
        background-image: url(../imagens/banner-estelar.jpg);
    }

    .img4 {
        background-image: url(../imagens/banner-festa.jpg);
    }

    .img3 {
        background-image: url(../imagens/banner-filme.jpg);
    }

    .img1 {
        background-image: url(../imagens/banner-inicio.jpg);
    }

    .img5 {
        background-image: url(../imagens/banner-final.jpg);
    }
/**/

/* Logo e nome na parte inicial */
    img#nome {
        animation: 1s shake infinite alternate;
        opacity: 0;
        width: 38%;
    }
    
    @keyframes shake {
        0% { transform: skewY(-2deg); }
        5% { transform: skewY(2deg); }
        10% { transform: skewX(-2deg); }
        15% { transform: skewX(2deg); }
        20% { transform: skewY(0deg); }
        100% { transform: skewY(0deg); }  
    }

    img#logo {
        width: 100px;
        padding-top: 170px;
    }

    img#logo, img#nome {
        transition: opacity 0.5s ease-in-out;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    div:hover img#logo {
        opacity: 0;
    }

    div:hover img#nome {
        opacity: 1;
    }

    img#nome {
        box-sizing: border-box;
    }
/**/


ul#outros {
    margin-left: 70px;
    padding-top: 30px;
}