/* Resetando a margem e padding de toda a página */
    * {
        margin:0;
        padding: 0;
    }
    #contato, #criador, #ico_footer, #outros {
        padding-left: 40px;
        margin-right: 20px;
    }
    footer nav {
        height: 160px;
        padding-top: 10px;
        margin-bottom: 25px;
    }
    nav ul h3 {
        margin-bottom: 15px;
    }
    ul#outros {
        margin-left: 100px;
    }
    header {
        margin-bottom: -16px;
    }
/**/

/* Criando a estrutura da grid principal */

    /*Chamando o body como grid container e estruturando seus elementos*/
    body {
        display: grid;
        background-image: url(../imagens/imagem_carrinho.png);
        background-repeat: no-repeat;
        background-size: cover;        
        color: white;
        
        /*Estabelecendo o espaçamento entre os elementos da grid*/
        grid-gap: 1rem; 

        /* Os elementos da grid são: header/main/footer */
        grid-template-areas:
        "header"
        "div"
        "main"
        "footer";
    }

    header {
        grid-area: header;
    }

    div#head {
        grid-area: div;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        color: #3B3A41;
    }
/**/

/* Criando a estrutura da grid secundária - criada dentro da main */

    .grid-item {
        border: 1px hidden;
        border-radius: 2%;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #3B3A41B3;
        box-shadow: 0px 2px 7px 6px rgb(49, 49, 49);
        margin: 0 auto;
    }
/**/

/* Estilizando as imagens iniciais dos formulários */

    /*Tamanho, opacidade e centralização*/
    .cadastro img, .pedido img, .entrega img {
        width: 50px;
        opacity: 70%;
        display: block;
        margin: -5px auto 5px auto;
    }

    .pedido img {
        opacity: 60%;
    }
/**/

/* Fontes: tamanho e espaçamento entre linhas */
.cadastro, .pedido, .entrega {
    font-size: 13px;
    line-height: 1.5em;
}

/* Estilizando o grid-item "cadastro" */

    /*Itens do formulário: tamanho e localização no grid*/
    .cadastro input {
        width: 50%;
    }
    .cadastro label {
        display: block;
    }
    #dadosCadastrais {
        margin-bottom: 10px;
    }    
    #dadosCadastrais input {
        padding-left: 20px;
    }
    #email, #password, #password2, #name, #date, #cpf, #phone {
        margin-left: 50px;
        width: 60%;
    }

    /*Incluindo imagens de estilização antes do input*/
    input.email {
        background-image: url(../imagens/icone-usuario.png);
    }
    input.senha {
        background-image: url(../imagens/icone-cadeado.png);
    }
/**/

/* Estilizando o grid-item "pedido" */
  
    /*Formatação das legendas internas*/
    legend#sublegenda {
        font-weight: 600;
    }
    #tituloItem {
        font-style: italic;
        text-decoration: underline;
    }
    #tituloItem td {
        text-align: center;
    }

    /* Formatação dos elementos das tabelas (input de produtos) */
    td>input {
        width: 25%;        
        text-align: center;
    }
    td>input:hover {
        font-weight: bold;
        color: #28502E;
        font-size: 140%;
    }
    tr, td {
        table-layout: fixed;
        word-break: keep-all;
        text-align: right;
    }
    td>label {
        font-size: 15px;
    }

    /* Formatação dos elementos do checkbox */
    #gift {
        margin-top: 15px;
    }
    span#presente {
        padding-left: 7px;
    }

    /* Formatação dos elementos da textarea */
    span#mensagem {
        display: block;
        margin-top: 10px;
        font-size: 12px;
    }
    textarea {
        width: 100%;
        height: 100px;
        box-shadow: 0.2px 0.2px 1px 0.75px gray;
    }
/**/

/* Estilizando o grid-item "entrega" */

    #card_date {
        width: 30%;
    }

    #cartao {
        margin-top: 10px;
    }

    #card_banner {
        width: 25%;
        margin-bottom: 10px;
    }

    #address3 {
        width: 34%;
        margin-bottom: 10px;
    }

    #dadosEntrega {
        margin-top: 10px;
    }

    #address1 {
       width: 50%;
       margin-bottom: 10px;
    }

    #address2 {
        width: 15%;
    }

    #address4, #address5, #address6 {
        width: 42%;
        margin-bottom: 10px;
    }

    button#reset, button#send {
        width: 30%;
        display: block;
        margin: 15px auto 0 auto;
        align-content: center;
        background: linear-gradient(to bottom, #48474d, #3B3A41);
        font-weight: 700;
        color: white;
        border-radius: 10px;
        height: 25px;
        border: 1px #2A9D8F solid;
    }    
/**/

/* Estilizando o banner */    
    div#head {
        background: linear-gradient(to bottom left, #28502E, #06089D); /* Aplicando cor de fundo apenas na hipótese de problemas no carregamento da imagem por algum navegador, a cor de fundo toma o lugar da imagem*/
        width: 100%;
        background-image: url(../imagens/banner-entrega.jpg);
        background-position: 60% 72%;        
        height: 200px;
    }

    div#head h1 {
        color: #fff;
        font-size: 10vh;
        font-family: 'Days One', sans-serif;        
        text-align: right;
        padding-top: 90px;
        padding-right: 400px;
        mix-blend-mode: overlay;
        box-sizing: border-box;
    }
/**/


main fieldset {
    padding: 5px;
    border: 1px solid #2A9D8F;
}

main legend {
    font-weight: bold;
}

main label {
    cursor: pointer;
}

main input {
    border: 1px solid #ACA39A;
    border-radius: 5%;
    background-repeat: no-repeat;
    height: 17px;
    background-position: 5px;
}

.pedido, .entrega {
    display: none;
}

.entrega {
    width: 30%;
}

.pedido {
    width: 35%;
}

.cadastro {
    width: 20%;
}

button#alterarPedido, button#alterarEntrega, button#alterarCadastro {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: linear-gradient(to bottom, #dddddf, white);
}

button#alterarCadastro {
    margin: 20px 10px 0 710px;
}

button#alterarPedido {
    margin-right: 10px;
}

footer li {
    color: white;
}

footer li>a:visited {
    text-decoration: none;
    color: white;
}

.ico_footer {
    margin-left: 40px;
}