/* Estilizando o menu de navegação */

    nav#menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background: linear-gradient(to left top, #868585, #F5F4F6, #EAE9EC);
    }

    nav#menu a {
        display: inline-block;
        padding:  0.5em 1.5em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: #2A9D8F;
        font-weight: 900;
    }

    nav#menu ul {
        margin: 0.3em 0 0.5em;
        text-align: center;
    }

    nav#menu li {
        display: inline;    
        border-left: 0.5px solid #2A9D8F;
    }

    nav#menu li:last-of-type {
        border-right: 0.5px solid #2A9D8F;
    }
/**/

footer {
    background-color: #3B3A41;
    height: 26px;
    color: white;
    font-weight: 100;
    font-size: x-small;
    line-height: 30px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 5px;
    margin-top: 20px;
}