@media (max-width: 650px) {
    #Star_id1, #Star_id2, #Star_id3, #Party_id1, #Party_id2, #Party_id3, #Movie_id1, #Movie_id2, #Movie_id3  {
        width: 100px;
        height: 100px;
        padding-left: 80px;
    }
    figcaption {
        font-size: 70%;
    }
    h4 {
        font-size: 12px;
    }
    h2 {
        font-size: 4vh;
        padding: 0;
    }
    figure>img {
        width: 30%;
    }
    div>button {
        width: 50%;
    }
    .linkFilme, .linkFesta, .linkEstrela {
        font-size: 10px;
    }
    #estelar, #filme, #festa {
        height: 50px;
    }
    #section1, #section2, #section3 {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}